[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
--register-node=false \
--allow-privileged=true \
--config=/etc/kubernetes/manifests \
--cluster-dns={{cluster_dns}} \
--cluster_domain={{cluster_domain}} \
--hairpin-mode=none \
--enable-debugging-handlers=false \
--cpu-cfs-quota=true \
--logtostderr=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
