#!/bin/bash

LOG_LEVEL=${LOG_LEVEL:--v}
SSH_EXTRA_ARGS='-o\ StrictHostKeyChecking=no'
ADMIN_USER=${ADMIN_USER:-vagrant}
ADMIN_WORKSPACE=${ADMIN_WORKSPACE:-workspace}

/usr/bin/ansible-playbook ${LOG_LEVEL} \
        --ssh-extra-args "$SSH_EXTRA_ARGS" -u ${ADMIN_USER} -b \
        --become-user=root -i $ADMIN_WORKSPACE/inventory/inventory.cfg \
        -e searchpath=$ADMIN_WORKSPACE \
        -e @$ADMIN_WORKSPACE/utils/kargo/roles/configure_logs/defaults/main.yml \
        $ADMIN_WORKSPACE/kargo/scripts/collect-info.yaml
