config.yaml
vagrant-settings.yaml
.vagrant
tmp

# vim files
*.swp

# Deploy leftovers
VLAN_IPS
logs/*
utils/packer/*/packer_cache/*
utils/packer/*/output*

*egg/
*.egg-info
.venv
*.pyc
build
publish-docs
docs/_build
docs/source/*log
.tox
ChangeLog
AUTHORS
.coverage
