---
kube_master:
  username: vagrant
  password: vagrant
  ssh_key: null
  ip: 10.0.0.3
global_config:
  cluster_dns: 10.254.0.10
  cluster_domain: cluster.local
kube_slaves:
  default:
    username: vagrant
    password: vagrant
    ssh_key: null
  slaves:
    - ip: 10.0.0.4
