---
- name: Ensure required ansible version
  assert:
    that: ansible_version.major == 2 and ansible_version.minor >= 1

- name: Wait for nodes to be ready
  command: echo "Ready"
  retries: 30
  delay: 1

- name: Set correct /etc/hosts entry
  register: updated_etc_hosts
  lineinfile:
    dest: /etc/hosts
    regexp: "127.0.1.1.*"
    line: "{{ ip }}\t{{ inventory_hostname }}"
    state: present

- name: Update hostname via hostnamectl
  command: hostnamectl set-hostname {{ inventory_hostname }}
  when: updated_etc_hosts.changed

- name: Ensure dnsutils is installed
  apt:
    name: dnsutils
    state: latest
  when: ansible_os_family == "Debian"
