---
- name: Wait for kubedns to be ready
  shell: "nslookup kubernetes.default.svc.{{ cluster_name }} {{ dns_server }}"
  register: kubernetes_resolvable
  until: kubernetes_resolvable.rc == 0
  delay: 5
  retries: 20

- name: Copy network test script
  copy:
    src: test_networking.sh
    dest: "{{ bin_dir }}/test_networking.sh"
    owner: root
    group: root
    mode: 0755

- name: Test networking connectivity
  shell: "bash {{ bin_dir }}/test_networking.sh"
  environment:
    ADMIN_USER: "{{ ansible_user }}"
    ADMIN_IP: "{{ hostvars[groups['kube-master'][0]]['ip'] | default(hostvars[groups['kube-master'][0]]['ansible_default_ipv4']['address']) }}"
    SLAVE_IPS: "{{ ip }}"
  changed_when: false
  become: no

- name: Copy dashboard definition
  copy:
    src: kubernetes-dashboard.yml
    dest: /etc/kubernetes/kubernetes-dashboard.yml
    owner: root
    group: root
    mode: 0644
  register: dashboard
  delegate_to: "{{groups['kube-master'][0]}}"
  run_once: true

- name: Create Kubernetes dashboard
  command: "{{ bin_dir }}/kubectl create -f /etc/kubernetes/kubernetes-dashboard.yml"
  when: dashboard.changed
  delegate_to: "{{groups['kube-master'][0]}}"
  run_once: true
