[Unit]
Description=calicoctl node
Requires=docker.service
After=docker.service

[Service]
User=root
Environment="ETCD_AUTHORITY={{etcd_authority_internal}}"
Environment="KUBERNETES_MASTER=http://kube-node-master:8080"
Environment="DEFAULT_IPV4={{ip}}"
PermissionsStartOnly=true
ExecStartPre=/usr/bin/calicoctl checksystem --fix
ExecStart=/usr/bin/calicoctl node --ip={{ip}} --detach=false

[Install]
WantedBy=multi-user.target
